ul {
  padding: 0 !important;
  margin: 0 !important;
}
a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #111 !important;
  color: #fff !important;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0d7785;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}

.visiteHomePage {
  color: #f00;
}

.viewPost {
  color: #0075ff !important;
  margin-right: 1rem;
}

.user {
  color: #0077ff77;
  text-decoration: none;
  transition: 0.3s;
  display: block;
}

.user:hover {
  color: #0075ff;
  text-decoration: underline;
}
